:root {
  --building-color: #FF9800;
  --house-color: #0288D1;
  --shop-color: #7B1FA2;
  --warehouse-color: #558B2F;
}

/*
 * Optional: Makes the sample page fill the window.
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*
 * Always set the map height explicitly to define the size of the div element
 * that contains the map.
 */
#map {
  height: 100%;
  width: 100%;
}

/*
 * Property styles in unhighlighted state.
 */
.property_highlight {
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 50%;
  color: #263238;
  display: flex;
  font-size: 14px;
  gap: 15px;
  height: 30px;
  justify-content: center;
  padding: 4px;
  position: relative;
  position: relative;
  transition: all 0.3s ease-out;
  width: 30px;
}

.property_highlight:after {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #FFFFFF;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  top: 95%;
  transform: translate(-50%, 0);
  transition: all 0.3s ease-out;
  width: 0;
  z-index: 1;
}

.property_highlight .icon {
  align-items: center;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
}

.property_highlight .icon svg {
  height: 20px;
  width: auto;
}



.property_highlight .address {
  color: #9E9E9E;
	display: block;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 5px;
	
}

.property_highlight .features {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.property_highlight .features > div {
  align-items: center;
  background: #F5F5F5;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: flex;
  font-size: 10px;
  gap: 5px;
  padding: 5px;
}
.property_highlight .details {
  color: #000000;
	
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 5px;
	display: block;
	
}
.property_highlight .details::after {
  display: flex;
}
/*
 * Property styles in highlighted state.
 */
.property_highlight {
  background-color: #FFFFFF;
  border-radius: 8px;
  height: 80px;
  padding: 8px 15px;
  width: auto;
}

.property_highlight:after {
  border-top: 9px solid #FFFFFF;
}


.property_highlight .icon svg {
  width: 50px;
  height: 50px;
}

.property_highlight .price {
  color: #FFA000;
}

.property_highlight .pop {
  color: #03A9F4;
}

.property_highlight .school {
  color: #388E3C;
}

.property_highlight .ccare {
  color: #493F34;
}

/*
 * House icon colors.
 */
.property_highlight:has(.fa-house) .icon {
  color: var(--house-color);
}

/*
 * Building icon colors.
 */
.property_highlight:has(.fa-building) .icon {
  color: var(--building-color);
}
/*
 * Warehouse icon colors.
 */
.property_highlight:has(.fa-warehouse) .icon {
  color: var(--warehouse-color);
}
/*
 * Shop icon colors.
 */
.property_highlight:has(.fa-shop) .icon {
  color: var(--shop-color);
}
